body{
	margin: 0;
	padding: 0;
	background-color: lightblue;
  	opacity: 0.9;
	/*background-image: url("Simeon Getnet.png");*/
}
p.mal{
	display: flex;
	flex-direction: row;
	flex: auto;
}
.list{
	display: flex;
	flex-direction: row;
	flex: auto;
}
.left li {
	
}
header li{
	list-style: none;
	display: inline-block;
	margin: 10px;
	padding: 5px;
	border: 3px groove ;
	border-radius: 15px;


}
a.link:link, a.link:visited{
	text-decoration: none;
	color: black;
	
}
a.link:hover, a.link:active{
	/*background-color: #7070db;
	color: white;
	padding: 50px;*/
	margin: 50px;

}
body{
	display: flex;
	flex-direction: column;
}
main{
	display: flex;
	flex-direction: row;
	flex: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

article{
	flex: 2;
	overflow-y: auto;
	padding-right: 50px;
	padding-left: 50px;
	border: 1px black;
	border-right: groove;
}
aside{
	flex: 1;
	overflow-y: auto;
	padding-right: 50px;
	padding-left: 50px;
}
header{
	border: 3px black;
	border-bottom: groove;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
footer{
	border: 3px black;
	border-top: groove;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 50px;
}
li {
	color: blue;

}

header{
	font-size: 20px;
}
h1 {
	color: blue;
	text-align: center;
	font-family: Copperplate, Papyrus, fantasy;
	font-size: 100px;
}
article > p{ 
	
	background-color: ;
	color:; 
}
p#home {
	color: ;
}
div.right{
	color: ;
	float: right;
}